---
import CV from "../layouts/CV.astro"
import { UIScaffold } from "../components/ui/vue/containers"
import {
	BriefcasePage,
	ContactPage,
	HomePage,
	JobsPage,
} from "../components/page/vue";

const jobs = await Astro.glob('../posts/jobs/*.md')
const briefcase = await Astro.glob('./briefcase/*.md')
---

<CV title="Daniel Andrés">
	<UIScaffold client:idle>
		<section
			class="snap-y snap-mandatory h-screen w-full overflow-auto scroll-smooth"
		>
			<div class="snap-start">
				<HomePage client:idle />
			</div>
			<div class="snap-start">
				<JobsPage data={jobs.map(({frontmatter, rawContent}) => {
					return { title: frontmatter.title, content: rawContent() };
				})} client:idle />
			</div>
			<div class="snap-start">
				<BriefcasePage data={briefcase.map(({frontmatter, rawContent}) => {
					return { title: frontmatter.title, content: rawContent() };
				})} client:idle />
			</div>
			<div class="snap-start">
				<ContactPage client:idle />
			</div>
		</section>
	</UIScaffold>
</CV>
