---
import 'material-icons/css/material-icons.min.css'
export interface Props {
    title: string;
}

const { title } = Astro.props;
const menu = [{
    name: 'Inicio',
    router: '#/'
}, {
    name: 'Experiencia',
    router: '#/jobs'
}, {
    name: 'Portafolio',
    router: '#/briefcase'
}, {
    name: 'Contacta me',
    router: '#/contact'
}]
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="bg-slate-300" >
        <slot />
        <nav class="fixed bottom-0 left-0 right-0 px-4 pb-4">
            <ul class="flex space-x-2 justify-end px-3 py-2">
                {menu.map(({name, router}) => <li>
                    <a href={router}>{name}</a>
                </li>)}
                <li>
                    <a class="cursor-pointer">Tema</a>
                </li>
            </ul>
        </nav>
    </body>
</html>
